body {
    background-color: rgb(30,31,34) !important;
}

h1,h2,h3,ul,ol,pre,table {
    color: white;
}

p {
    color: rgb(114,150,184);
}

a {
    color: rgb(233,124,68) !important;
}

.pagination > li.disabled > a {
    background-color: rgb(30,31,34) !important;
    color: white !important;
}

.pagination > li > a {
    background-color: rgb(30,31,34);
}

