body {
    background-color: rgb(25, 54, 65) !important;
}

code {
    background-color: rgb(14,32,39);
    padding: 3px;
}

a {
    color: rgb(105,195,180) !important;
}

h1,h2,h3,ul,ol,pre,table {
    color: rgb(173,180,180);
}

p {
    color: rgb(124,137,139);
}

.pagination > li.disabled > a {
    background-color: rgb(30,31,34) !important;
    color: white !important;
}

.pagination > li > a {
    background-color: rgb(30,31,34);
}

